/SeminarskiServer2020/nbproject/private/
/SeminarskiZajednicki2020/build/
/SeminarskiZajednicki2020/dist/
/SeminarskiServer2020/build/
/SeminarskiKlijent2020/nbproject/private/
/pj/nbproject/private/
/SeminarskiKlijent2020/build/